#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --with quilt

MOO=COW

override_dh_auto_install:
	# Use the broken installer
	./install.pl etc/nfsen-dist.conf
	# Remove the dist etc file
	rm debian/nfsen/etc/nfsen/nfsen-dist.conf
	# Cleanup the installed paths
	for i in `rgrep -l debian/nfsen debian/nfsen`; do sed -i 's:debian/nfsen::' $$i; done
	# Fix up the perms
	#chmod -x debian/nfsen/usr//nfsen/*.pm

override_dh_installchangelog:
	dh_installchangelogs ChangeLog upstream
